.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;

  .actionButtons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  Button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
