# Environment mode
NODE_ENV=development  # Change to "production" in production environment

# Frontend and backend ports
FRONTEND_PORT=3000
BACKEND_PORT=3001

# Database port
DATABASE_PORT=5432

# Backend settings
BACKEND_URL=http://localhost:${BACKEND_PORT}

# Frontend settings
FRONTEND_URL=http://localhost:${FRONTEND_PORT}

# PostgreSQL Setup for Docker Initialization
POSTGRES_USER=cjc_user
POSTGRES_PASSWORD=secure_password
POSTGRES_DB=cjcrsg_db

# PostgreSQL Connection URI for Payload
DATABASE_URI=postgres://cjc_user:secure_password@db:5432/cjcrsg_db

# Database Connection for Application
DB_CONNECTION=postgres
DB_HOST=db
DB_PORT=${DATABASE_PORT}
DB_USER=cjc_user
DB_PASSWORD=secure_password
DB_DATABASE=cjcrsg_db

# Payload CMS Secret
PAYLOAD_SECRET=your_payload_secret
DEBUG=payload:*  # Enables debug-level logging for Payload CMS

# Optional: Path to Payload Config
# PAYLOAD_CONFIG_PATH=./apps/backend/payload.config.ts

